.Rproj.user
.Rhistory
.RData
.Ruserdata

*.numbers

Genetic_Procambarus_clarkii.Rproj
data/vcfs
data/fastStructure
plots
explore.R

data/admixtools
data/fst
data/maps
data/pca
data/fastStructure
data/fastreer
data/dapc
data/admixture
shit/


**/.DS_Store
**/.ipynb_checkpoints/

